/* Name: Danindu Marasinghe
   Course: CIS*2750
   Due Date: 2023-04-04 */

.content-row{
   margin-right: 25px;
   margin-left: 25px;
}
.bg-light {
   background-color: #adfff8 !important;
}
.title {
   margin-top: 30px;
}
button{
   background-color: #adfff8 !important;
   color: #000 !important;
   border: 0px !important;
}
button:hover {
   background-color: #00d6c3 !important;
   color: #fff !important;
}
.btn-select {
   min-width: fit-content;
}
.btn-display {
   margin-top: 10px;
}
.info-col {
   border-left: 1px solid #000;
}
.element-form{
   margin-bottom: 10px;
}